<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="CCT.NUI.StartMenu.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <!--Library Setting Values: SDK or OpenNI-->
    <userSettings>
        <CCT.NUI.StartMenu.Properties.Settings>
            <setting name="ShowDepthWindow" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Library" serializeAs="String">
                <value>OpenNI</value>
            </setting>
        </CCT.NUI.StartMenu.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup></configuration>
